<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="已导入的规则 2" stopProcessing="true">
                    <match url="^welcome$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 3" stopProcessing="true">
                    <match url="^links$" ignoreCase="false" />
                    <action type="Rewrite" url="link.php" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 4" stopProcessing="true">
                    <match url="^album$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 5" stopProcessing="true">
                    <match url="^shop$" ignoreCase="false" />
                    <action type="Rewrite" url="shop.php" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 6" stopProcessing="true">
                    <match url="^second$" ignoreCase="false" />
                    <action type="Rewrite" url="second.php" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 7" stopProcessing="true">
                    <match url="^exchange$" ignoreCase="false" />
                    <action type="Rewrite" url="exchange.php" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 8" stopProcessing="true">
                    <match url="^invite$" ignoreCase="false" />
                    <action type="Rewrite" url="invite.php" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 9" stopProcessing="true">
                    <match url="^event$" ignoreCase="false" />
                    <action type="Rewrite" url="event.php" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 10" stopProcessing="true">
                    <match url="^u/all$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action=all" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 11" stopProcessing="true">
                    <match url="^u/message/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action=message&amp;page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 12" stopProcessing="true">
                    <match url="^u/message$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action=message" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 13" stopProcessing="true">
                    <match url="^u/([a-z]+)/([a-z]+)/(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:1}&amp;{R:2}={R:3}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 14" stopProcessing="true">
                    <match url="^u/([a-z]+)/([a-z]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:1}&amp;{R:2}={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 15" stopProcessing="true">
                    <match url="^u/(\d+)/([a-z]+)/t(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;type={R:3}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 16">
                    <match url="^u/(\d+)/([a-z]+)/t(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;type={R:3}[QSA,L]" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 17" stopProcessing="true">
                    <match url="^u/(\d+)/([a-z]+)/s(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;status={R:3}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 18">
                    <match url="^u/(\d+)/([a-z]+)/s(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;status={R:3}[QSA,L]" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 19" stopProcessing="true">
                    <match url="^u/(\d+)/([a-z]+)/([a-z]+)/([a-z]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;type={R:3}&amp;sort={R:4}&amp;page={R:5}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 20" stopProcessing="true">
                    <match url="^u/(\d+)/([a-z]+)/([a-z]+)/([a-z]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;type={R:3}&amp;sort={R:4}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 21" stopProcessing="true">
                    <match url="^u/(\d+)/([a-z]+)/([a-z]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;type={R:3}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 22" stopProcessing="true">
                    <match url="^u/(\d+)/([a-z]+)/([a-z]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;type={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 23" stopProcessing="true">
                    <match url="^u/(\d+)/([a-z]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 24" stopProcessing="true">
                    <match url="^u/(\d+)/([a-z]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 25" stopProcessing="true">
                    <match url="^u/(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action=index&amp;uid={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 26" stopProcessing="true">
                    <match url="^u/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action=index&amp;uid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 27" stopProcessing="true">
                    <match url="^me$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action=me" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 28" stopProcessing="true">
                    <match url="^club/newtopic/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="club.php?action=newtopic&amp;fid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 29" stopProcessing="true">
                    <match url="^club/newtopic$" ignoreCase="false" />
                    <action type="Rewrite" url="club.php?action=newtopic" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 30" stopProcessing="true">
                    <match url="^club/detail/(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="club.php?action=detail&amp;tid={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 31" stopProcessing="true">
                    <match url="^club/detail/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="club.php?action=detail&amp;tid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 32" stopProcessing="true">
                    <match url="^club/best/(\d+)/([a-z]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="club.php?action=best&amp;fid={R:1}&amp;sort={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 33" stopProcessing="true">
                    <match url="^club/best/(\d+)/([a-z]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="club.php?action=best&amp;fid={R:1}&amp;sort={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 34" stopProcessing="true">
                    <match url="^club/best/(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="club.php?action=best&amp;fid={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 35" stopProcessing="true">
                    <match url="^club/best/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="club.php?action=best&amp;fid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 36" stopProcessing="true">
                    <match url="^club/(\d+)/([a-z]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="club.php?action=forum&amp;fid={R:1}&amp;sort={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 37" stopProcessing="true">
                    <match url="^club/(\d+)/([a-z]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="club.php?action=forum&amp;fid={R:1}&amp;sort={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 38" stopProcessing="true">
                    <match url="^club/(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="club.php?action=forum&amp;fid={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 39" stopProcessing="true">
                    <match url="^club/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="club.php?action=forum&amp;fid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 40" stopProcessing="true">
                    <match url="^club$" ignoreCase="false" />
                    <action type="Rewrite" url="club.php?action=index" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 41" stopProcessing="true">
                    <match url="^ask/newtopic/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="ask.php?action=newtopic&amp;aid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 42" stopProcessing="true">
                    <match url="^ask/newtopic$" ignoreCase="false" />
                    <action type="Rewrite" url="ask.php?action=newtopic" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 43" stopProcessing="true">
                    <match url="^ask/(\d+)/([a-z]+)/(\d+)/$" ignoreCase="false" />
                    <action type="Rewrite" url="ask.php?action=forum&amp;aid={R:1}&amp;type={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 44" stopProcessing="true">
                    <match url="^ask/(\d+)/([a-z]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="ask.php?action=forum&amp;aid={R:1}&amp;type={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 45" stopProcessing="true">
                    <match url="^ask/(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="ask.php?action=forum&amp;aid={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 46" stopProcessing="true">
                    <match url="^ask/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="ask.php?action=forum&amp;aid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 47" stopProcessing="true">
                    <match url="^ask/detail/(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="ask.php?action=detail&amp;tid={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 48" stopProcessing="true">
                    <match url="^ask/detail/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="ask.php?action=detail&amp;tid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 49" stopProcessing="true">
                    <match url="^ask$" ignoreCase="false" />
                    <action type="Rewrite" url="ask.php?action=index" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 50" stopProcessing="true">
                    <match url="^style/(new|pop|hot7|hot30)/([^\/]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="style.php?action=index&amp;sort={R:1}&amp;tag={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 51" stopProcessing="true">
                    <match url="^style/(new|pop|hot7|hot30)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="style.php?action=index&amp;sort={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 52" stopProcessing="true">
                    <match url="^style/(new|pop|hot7|hot30)/([^\/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="style.php?action=index&amp;sort={R:1}&amp;tag={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 53" stopProcessing="true">
                    <match url="^style/(new|pop|hot7|hot30)$" ignoreCase="false" />
                    <action type="Rewrite" url="style.php?action=index&amp;sort={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 54" stopProcessing="true">
                    <match url="^style/([^\/]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="style.php?action=index&amp;tag={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 55" stopProcessing="true">
                    <match url="^style/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="style.php?action=index&amp;page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 56" stopProcessing="true">
                    <match url="^style/([^\/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="style.php?action=index&amp;tag={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 57" stopProcessing="true">
                    <match url="^style$" ignoreCase="false" />
                    <action type="Rewrite" url="style.php?action=index" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 58" stopProcessing="true">
                    <match url="^book/(shopping|dapei|look)/s(\d+)/([^\/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action={R:1}&amp;sid={R:2}&amp;tag={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 59" stopProcessing="true">
                    <match url="^book/(shopping|dapei|look)/s(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action={R:1}&amp;sid={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 60" stopProcessing="true">
                    <match url="^book/(shopping|dapei|look)/(new|pop|hot7|hot30)/([^\/]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action={R:1}&amp;sort={R:2}&amp;tag={R:3}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 61" stopProcessing="true">
                    <match url="^book/(shopping|dapei|look)/(new|pop|hot7|hot30)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action={R:1}&amp;sort={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 62" stopProcessing="true">
                    <match url="^book/(shopping|dapei|look)/(new|pop|hot7|hot30)/([^\/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action={R:1}&amp;sort={R:2}&amp;tag={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 63" stopProcessing="true">
                    <match url="^book/(shopping|dapei|look)/(new|pop|hot7|hot30)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action={R:1}&amp;sort={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 64" stopProcessing="true">
                    <match url="^book/(shopping|dapei|look)/([^\/]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action={R:1}&amp;tag={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 65" stopProcessing="true">
                    <match url="^book/(shopping|dapei|look)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 66" stopProcessing="true">
                    <match url="^book/(shopping|dapei|look)/([^\/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action={R:1}&amp;tag={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 67" stopProcessing="true">
                    <match url="^book/(shopping|dapei|look)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 68" stopProcessing="true">
                    <match url="^book/([a-z]+)/(new|pop|hot7|hot30)/([^\/]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;sort={R:2}&amp;tag={R:3}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 69" stopProcessing="true">
                    <match url="^book/([a-z]+)/(new|pop|hot7|hot30)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;sort={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 70" stopProcessing="true">
                    <match url="^book/([a-z]+)/(new|pop|hot7|hot30)/([^\/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;sort={R:2}&amp;tag={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 71" stopProcessing="true">
                    <match url="^book/([a-z]+)/(new|pop|hot7|hot30)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;sort={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 72" stopProcessing="true">
                    <match url="^book/([a-z]+)/([^\/]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;tag={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 73" stopProcessing="true">
                    <match url="^book/([a-z]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 74" stopProcessing="true">
                    <match url="^book/([a-z]+)/([^\/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;tag={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 75" stopProcessing="true">
                    <match url="^book/([a-z]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 76" stopProcessing="true">
                    <match url="^note/(\d+)/(g|m)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="note.php?action={R:2}&amp;sid={R:1}&amp;id={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 77" stopProcessing="true">
                    <match url="^note/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="note.php?action=index&amp;sid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 78" stopProcessing="true">
                    <match url="^medal/u/uid/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="medal.php?action=u&amp;uid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 79" stopProcessing="true">
                    <match url="^medal/apply/mid/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="medal.php?action=apply&amp;mid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 80" stopProcessing="true">
                    <match url="^medal/index/type/(\d+)/uid/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="medal.php?action=index&amp;type={R:1}&amp;uid={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 81" stopProcessing="true">
                    <match url="^medal/index/type/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="medal.php?action=index&amp;type={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 82" stopProcessing="true">
                    <match url="^medal/index/uid/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="medal.php?action=index&amp;uid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 83" stopProcessing="true">
                    <match url="^medal$" ignoreCase="false" />
                    <action type="Rewrite" url="medal.php?action=index" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 84" stopProcessing="true">
                    <match url="^daren/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="daren.php?action=index&amp;page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 85" stopProcessing="true">
                    <match url="^daren$" ignoreCase="false" />
                    <action type="Rewrite" url="daren.php?action=index" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 86" stopProcessing="true">
                    <match url="^daren/all/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="daren.php?action=all&amp;page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 87" stopProcessing="true">
                    <match url="^daren/all$" ignoreCase="false" />
                    <action type="Rewrite" url="daren.php?action=all" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 88" stopProcessing="true">
                    <match url="^album/category/c(\d+)/(hot|new)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=category&amp;id={R:1}&amp;sort={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 89" stopProcessing="true">
                    <match url="^album/category/c(\d+)/(hot|new)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=category&amp;id={R:1}&amp;sort={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 90" stopProcessing="true">
                    <match url="^album/category/c(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=category&amp;id={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 91" stopProcessing="true">
                    <match url="^album/category/c(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=category&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 92" stopProcessing="true">
                    <match url="^album/show/a(\d+)/s(\d+)/t(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=show&amp;id={R:1}&amp;sid={R:2}&amp;type={R:3}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 93" stopProcessing="true">
                    <match url="^album/show/a(\d+)/s(\d+)/t(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=show&amp;id={R:1}&amp;sid={R:2}&amp;type={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 94" stopProcessing="true">
                    <match url="^album/show/a(\d+)/s(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=show&amp;id={R:1}&amp;sid={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 95" stopProcessing="true">
                    <match url="^album/show/a(\d+)/t(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=show&amp;id={R:1}&amp;type={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 96" stopProcessing="true">
                    <match url="^album/show/a(\d+)/s(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=show&amp;id={R:1}&amp;sid={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 97" stopProcessing="true">
                    <match url="^album/show/a(\d+)/t(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=show&amp;id={R:1}&amp;type={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 98" stopProcessing="true">
                    <match url="^album/show/a(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=show&amp;id={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 99" stopProcessing="true">
                    <match url="^album/show/a(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=show&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 100" stopProcessing="true">
                    <match url="^album/(hot|new)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=index&amp;sort={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 101" stopProcessing="true">
                    <match url="^album/(hot|new)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=index&amp;sort={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 102" stopProcessing="true">
                    <match url="^album/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=index&amp;page={R:1}" appendQueryString="true" />
                </rule>
				<rule name="已导入的规则 123" stopProcessing="true">
                    <match url="^album/edit/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=edit&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 103" stopProcessing="true">
                    <match url="^second/s(\d+)/c(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="second.php?action=index&amp;sid={R:1}&amp;cid={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 104" stopProcessing="true">
                    <match url="^second/s(\d+)/c(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="second.php?action=index&amp;sid={R:1}&amp;cid={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 105" stopProcessing="true">
                    <match url="^second/s(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="second.php?action=index&amp;sid={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 106" stopProcessing="true">
                    <match url="^second/c(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="second.php?action=index&amp;cid={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 107" stopProcessing="true">
                    <match url="^second/s(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="second.php?action=index&amp;sid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 108" stopProcessing="true">
                    <match url="^second/c(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="second.php?action=index&amp;cid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 109" stopProcessing="true">
                    <match url="^shop/c(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="shop.php?action=index&amp;cid={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 110" stopProcessing="true">
                    <match url="^shop/c(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="shop.php?action=index&amp;cid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 111" stopProcessing="true">
                    <match url="^shop/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="shop.php?action=index&amp;page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 112" stopProcessing="true">
                    <match url="^shop/show/s(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="shop.php?action=show&amp;id={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 113" stopProcessing="true">
                    <match url="^shop/show/s(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="shop.php?action=show&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 114" stopProcessing="true">
                    <match url="^exchange/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="exchange.php?action=index&amp;page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 115" stopProcessing="true">
                    <match url="^event/(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="event.php?action=detail&amp;id={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 116" stopProcessing="true">
                    <match url="^event/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="event.php?action=detail&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 117" stopProcessing="true">
                    <match url="^event/(\w+)/(\w+)$" ignoreCase="false" />
                    <action type="Rewrite" url="event.php?action={R:1}&amp;type={R:2}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 118" stopProcessing="true">
                    <match url="^event/(\w+)/(\w+)/(\w+)$" ignoreCase="false" />
                    <action type="Rewrite" url="event.php?action={R:1}&amp;type={R:2}&amp;order={R:3}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 119" stopProcessing="true">
                    <match url="^event/(\w+)/(\w+)/(\w+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="event.php?action={R:1}&amp;type={R:2}&amp;order={R:3}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 120" stopProcessing="true">
                    <match url="^event/(\w+)$" ignoreCase="false" />
                    <action type="Rewrite" url="event.php?action={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 121" stopProcessing="true">
                    <match url="^adv/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="adv.php?action=index&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 122" stopProcessing="true">
                    <match url="^([a-z]+)/([a-z]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="{R:1}.php?action={R:2}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
